	<link rel="stylesheet" href="styles.css">
    <center>
      <div class="logo">
        <img alt="Google" src="img/google.png" />
			</div>


		<form action="/results" method="post">
      <input class="searchbar" type="search" name="search" />
      <div class="buttons">
        <button type="submit">Search</button>
      </div>
		</form>
  </center>
