	<link rel="stylesheet" href="styles.css" />
    <center>
      <div class="logo">
        <img alt="Google" src="img/google.png" />
				<form action="/results" method="post">
      </div>
      <input class="searchbar" type="search" name="Search" />
      <div class="buttons">
        <button type="submit">Search</button>
      </div>
    </center>
